@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE + Edge */
  scrollbar-width: none; /* Firefox */
}


:root {
  --bg: #ffffff;
  --text: #09090b;
  --card: #f4f4f5;
  --accent: #6366f1;
  --accent-soft: #a5b4fc;
}